#aSide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: calc(50% - 250px);
    right: 7%;
}
.table3d {
    height: 1000px;
    width: 2000px;
    position: absolute;
    pointer-events: none;
    border: none;
    z-index: 1;
    transform: translateX(-200px) translateY(-50px) ;
    
}
.music.change {
    height: 300px;
    width: 300px;
    transform: rotateX(15deg) translateX(280px) translateY(60px);
    transition: transform 2s;
  }