#aSide {
    height: 50%;
    width: 50%;
    position: absolute;
    top: calc(50% - 250px);
    right: 7%;
}
.table3d {
    height: 1000px;
    width: 2000px;
    position: absolute;
    pointer-events: none;
    border: none;
    z-index: 1;
    transform: translateX(-200px) translateY(-50px) ;
}
.music{
    height: 100px;
    width: 100px;
    top: 13em;
    left: 23em;
    z-index: 10;
    pointer-events: none;
}
.slot.interaction-prompt.cover.centered.visible{
    display: none!important;
}
div#prompt{
    transform: translateX(0px)!important;
}
.music.change {
    height: 200px;
    width: 200px;
    transform: translateX(420px) translateY(130px);
    transition: transform 2s;
    top: 10px;
    left: 0px;
  }