body {
    background: black;
    color: white;
    font-family: arial black;
    line-height: 10px;
  }
  .room {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    perspective: 100rem;
    overflow: hidden;
  }
  
  .table {
    width: 90rem;
    height: 45rem;
    cursor: pointer;
    // background-image: radial-gradient(
    //   rgba(129, 91, 55, 1),
    //   rgba(63, 43, 23, 1)
    // );
    background-image: url("https://img.freepik.com/free-photo/brown-wooden-flooring_53876-90802.jpg?w=2000");
    border-bottom: 2rem solid rgb(63, 43, 23);
    border-image: url("https://img.freepik.com/free-photo/brown-wooden-flooring_53876-90802.jpg?w=2000");
    transform: rotateX(80deg) translateZ(-15rem) translateY(-75rem);
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s 1s;
  }
  
  .table.change {
    transform: rotateX(60deg) translateY(-15rem) translateZ(-15rem);
    transition: transform 2s;
  }
  
  .table-leg {
    width: 3rem;
    height: 35rem;
    background-color: rgba(63, 42, 21, 0.8);
    background-image: url("https://img.freepik.com/free-photo/brown-wooden-flooring_53876-90802.jpg?w=2000");
    position: absolute;
  }
  
  .table-leg-1 {
    transform: rotateX(-60deg) ;
    transform-origin: top;
    border-right: 0.3rem solid rgba(63, 42, 21, 0.8);
    border-bottom: 0.3rem solid rgba(63, 42, 21, 0.8);
    top: 0rem;
    left: 0rem;
  }
  
  .table-leg-2 {
    transform: rotateX(-60deg);
    transform-origin: top;
    border-left: 0.3rem solid rgba(63, 42, 21, 0.8);
    border-bottom: 0.3rem solid rgba(63, 42, 21, 0.8);
    top: 40rem;
    left: 0rem;
  }
  
  .table-leg-3 {
    transform: rotateX(-60deg);
    transform-origin: top;
    border-radius: 1rem;
    border-left: 0.3rem solid rgba(63, 42, 21, 0.8);
    border-right: 0.3rem solid rgba(63, 42, 21, 0.8);
    top: 40rem;
    right: 0rem;
  }

  .table-leg-4 {
    transform: rotateX(-60deg);
    transform-origin: top;
    border-left: 0.3rem solid rgba(63, 42, 21, 0.8);
    border-bottom: 0.3rem solid rgba(63, 42, 21, 0.8);
    top: 0rem;
    right: 0rem;
  }
  .inspect{
    position: absolute;
    top: 15em;
    z-index: 100;
  }